<header class='page-header'>
<h1>Simplified example</h1>
</header>
<style>
	.sorting_asc { background : #f00;}
	.sorting_desc { background : #00f;}
	.action_table_sortable { font-style: italic}
</style>
<h3>Sample table of zones:</h3>
<table id='zones_table' class='table'></table>
<div id='paginate'></div>

